/* Custom styles */
body {
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: #fff;
}

footer {
    background: #333;
    color: #fff;
    position: relative;
}

main {
    margin-top: 20px;
}

ul ul {
    list-style-type: disc;
}

ul {
    padding-left: 0;
}
